<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body style="opacity:0">

  <header class="page-header">
    <nav class="main-nav">

      <div class="main-nav__container base-container">

        <a class="main-nav__logo-link base-link" href="index.html">
          <svg class="main-nav__logo-icon" width="149" height="41" alt="Логотип">
            <use href="img/icon/sprite.svg#logo-icon"></use>
          </svg>
        </a>

        <div class="main-nav__mobile-menu" id="mobile_menu">
          <ul class="main-nav__mobile-menu-list base-list">

            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link base-link" href="#" id="catalogue_link">
                <span>Каталог</span>
                <div class="main-nav__catalogue">
                  <div class="main-nav__catalogue-container base-container">
                    <div class="main-nav__catalogue-item">
                      <span class="main-nav__catalogue-item-label"></span>
                      <ul class="main-nav__catalogue-item-list base-list"></ul>
                    </div>
                  </div>
                </div>
                <script>
                  let catalogue = document.querySelector('.main-nav__catalogue');
                  let main_nav = document.querySelector('.main-nav');
                  function setCatalogueWith() {
                    catalogue.setAttribute('style', `width:${main_nav.offsetWidth}px`)
                  }
                  document.addEventListener('load', setCatalogueWith());
                  document.addEventListener('resize', setCatalogueWith());
                </script>
              </a>
            </li>

            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link base-link" href="#">Новости</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link base-link" href="#">О компании</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link base-link" href="#">Партнерам</a>
            </li>
            <li class="main-nav__mobile-menu-item">
              <a class="main-nav__mobile-menu-link base-link" href="#">Контакты</a>
            </li>
          </ul>
        </div>

        <button class="main-nav__burger base-button" id="burger">
          <span class="main-nav__burger-line"></span>
        </button>

      </div>
    </nav>
  </header>