<footer class="page-footer" style="overflow-x: hidden;">
  <section class="footer-top">
    <div class="footer-top__container base-container">
      <div class="footer-top__column-left">
        <ul class="footer-top__column-left-list base-list">
          <li class="footer-top__list-item"><a class="footer-top__list-link base-link" href="#">О компании</a></li>
          <li class="footer-top__list-item"><a class="footer-top__list-link base-link" href="#">Каталог</a></li>
          <li class="footer-top__list-item"><a class="footer-top__list-link base-link" href="#">Новости </a></li>
        </ul>
        <ul class="footer-top__column-left-list base-list">
          <li class="footer-top__list-item"><a class="footer-top__list-link base-link" href="#">Партнерам</a></li>
          <li class="footer-top__list-item"><a class="footer-top__list-link base-link" href="#">Где купить</a></li>
          <li class="footer-top__list-item"><a class="footer-top__list-link base-link" href="#">Контакты</a></li>
        </ul>
        <a class="footer-top__column-left-link page-link base-link" href="#">Контрактное производство</a>
      </div>

      <div class="footer-top__column-right">
        <dib class="footer-top__column-right-links">
          <a class="footer-top__column-right-link base-link" href="tel:+74952151067">+7 (495) 215 10 67</a>
          <a class="footer-top__column-right-link base-link" href="mailto:frenchi@frenchi.ru">frenchi@frenchi.ru</a>
        </dib>
        <div class="footer-bottom__socials footer-bottom__socials--mobile">
          <a class="footer-bottom__socials-link base-link" href="#">
            <svg class="footer-bottom__socials-icon" width="40" height="40" aria-hidden="true">
              <use href="img/icon/sprite.svg#socials-1-icon"></use>
            </svg>
          </a>
          <a class="footer-bottom__socials-link base-link" href="#">
            <svg class="footer-bottom__socials-icon" width="40" height="40" aria-hidden="true">
              <use href="img/icon/sprite.svg#socials-2-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-bottom">
    <div class="footer-bottom__container base-container">
      <span class="footer-bottom__copyright">Copyright © 2001—<span></span> FRENCHI. All rights reserved.</span>

      <script>
        document.querySelector('.footer-bottom__copyright span').textContent = new Date().getFullYear();
      </script>

      <div class="footer-bottom__socials">
        <a class="footer-bottom__socials-link base-link" href="#">
          <svg class="footer-bottom__socials-icon" width="40" height="40" aria-hidden="true">
            <use href="img/icon/sprite.svg#socials-1-icon"></use>
          </svg>
        </a>
        <a class="footer-bottom__socials-link base-link" href="#">
          <svg class="footer-bottom__socials-icon" width="40" height="40" aria-hidden="true">
            <use href="img/icon/sprite.svg#socials-2-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>

</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="js/index.min.js?v=1.0"></script>
<script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>

</body>

</html>