<section class="catalogue-goods">
  <div class="catalogue-goods__container base-container">
    <div class="catalogue-goods__tabs-controls">
      <button class="catalogue-goods__tabs-button catalogue-goods__tabs-button--active base-button" data-tab="1">Бестселлеры</button>
      <button class="catalogue-goods__tabs-button base-button" data-tab="2">Масла</button>
      <button class="catalogue-goods__tabs-button base-button" data-tab="3">Реаним</button>
      <button class="catalogue-goods__tabs-button base-button" data-tab="4">Умная эмаль</button>
    </div>
    <div class="catalogue-goods__tabs-body">

      <div class="catalogue-goods__slider-container catalogue-goods__slider-container--1 catalogue-goods__slider-container--active" data-tab="1">
        <div class="catalogue-goods__slider catalogue-goods__slider--1 swiper">
          <div class="catalogue-goods__slider-wrapper swiper-wrapper">
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="Новинка">
              <svg class="catalogue-goods__slide-new" width="81" height="81" aria-label="Новинка">
                <use href="img/icon/sprite.svg#new2-icon"></use>
              </svg>
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <svg class="catalogue-goods__slide-new" width="81" height="81" aria-label="Новинка">
                <use href="img/icon/sprite.svg#new2-icon"></use>
              </svg>
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="Новинка">
              <svg class="catalogue-goods__slide-new" width="81" height="81" aria-label="Новинка">
                <use href="img/icon/sprite.svg#new2-icon"></use>
              </svg>
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <svg class="catalogue-goods__slide-new" width="81" height="81" aria-label="Новинка">
                <use href="img/icon/sprite.svg#new2-icon"></use>
              </svg>
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <svg class="catalogue-goods__slide-new" width="81" height="81" aria-label="Новинка">
                <use href="img/icon/sprite.svg#new2-icon"></use>
              </svg>
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <svg class="catalogue-goods__slide-new" width="81" height="81" aria-label="Новинка">
                <use href="img/icon/sprite.svg#new2-icon"></use>
              </svg>
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="catalogue-goods__slider-nav">
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--prev base-button">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--next base-button" style="transform:scaleX(-1);">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="catalogue-goods__slider-container catalogue-goods__slider-container--2" data-tab="2">
        <div class="catalogue-goods__slider catalogue-goods__slider--2 swiper">
          <div class="catalogue-goods__slider-wrapper swiper-wrapper">
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item2.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item2.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item2.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item2.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item2.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item2.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="catalogue-goods__slider-nav">
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--prev base-button">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--next base-button" style="transform:scaleX(-1);">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="catalogue-goods__slider-container catalogue-goods__slider-container--3" data-tab="3">
        <div class="catalogue-goods__slider catalogue-goods__slider--3 swiper">
          <div class="catalogue-goods__slider-wrapper swiper-wrapper">
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item3.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item3.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item3.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item3.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item3.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item3.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="catalogue-goods__slider-nav">
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--prev base-button">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--next base-button" style="transform:scaleX(-1);">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="catalogue-goods__slider-container catalogue-goods__slider-container--4" data-tab="4">
        <div class="catalogue-goods__slider catalogue-goods__slider--4 swiper">
          <div class="catalogue-goods__slider-wrapper swiper-wrapper">
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item4.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item4.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item4.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item4.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item4.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
            <div class="catalogue-goods__slider-slide swiper-slide" data-new="">
              <img class="catalogue-goods__slide-img" src="img/image/catalogue-second-item4.png" src="#" alt="#">
              <h3 class="catalogue-goods__slide-title base-title">Комплекс для снятия лака и укрепления ногтей</h3>
              <a class="catalogue-goods__slide-link base-link" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="catalogue-goods__slider-nav">
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--prev base-button">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
          <button class="catalogue-goods__nav-arrow catalogue-goods__nav-arrow--next base-button" style="transform:scaleX(-1);">
            <svg class="catalogue-goods__nav-arrow-icon" width="18" height="36" aria-hidden="true">
              <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

    </div>
    <a class="catalogue-goods__link page-link base-link" href="#">Перейти в каталог</a>
  </div>
</section>