<section class="info-block">
  <div class="info-block__container base-container">
    <div class="info-block__column">
      <h2 class="info-block__column-title base-title">
        Может ли косметика для ногтей быть не просто декоративной,
        а еще и лечебной?
      </h2>
      <p class="info-block__column-text base-par">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
        <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui
      </p>
      <a class="info-block__column-link page-link base-link" href="#">Перейти в каталог</a>
    </div>
    <figure class="info-block__image base-figure">
      <img class="info-block__img" src="img/image/info-img.png" alt="#">
      <a class="info-block__column-link info-block__column-link--mobile page-link base-link" href="#">Перейти в каталог</a>
    </figure>
  </div>
</section>