@use "../mixins";

.catalogue-goods {
  margin: 170px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 91px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 92px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__tabs-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 90px;

    width: 100%;
    max-width: 1268px;

    margin: 0 auto 21px auto;

    @include mixins.respond-to(mobileOnly) {
      align-self: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }

    @include mixins.respond-to(tabletOnly) {
      gap: 63px;

      padding: 0 0 0 24px;

      margin: 0 auto 39px auto;
    }
  }

  &__tabs-button {
    color: #000;
    font-family: var(--font-family-default);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: text-decoration 0.2s;

    &--active {
      text-decoration: underline;

      transition: text-decoration 0.2s;
    }

    @include mixins.respond-to(mobileOnly) {
      font-size: 14px;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 11px;
    }
  }

  &__tabs-body {
    margin: 0 0 66px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 16px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 29px 0;
    }
  }

  &__slider-container {
    position: relative;

    display: none;
    flex-direction: column;

    &--active {
      display: flex;
    }
  }

  &__slider {
    width: 100%;

    padding: 30px 0 0 0;
    margin: 0 auto;

    @include mixins.respond-to(mobileOnly) {
      & .swiper-slide {
        transform: scaleY(0.8);
        transform-origin: center;
        transition: transform 0.4s;
      }

      & .swiper-slide-active {
        transform: scaleY(1);
        transform-origin: center;
        transition: transform 0.4s;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      max-width: 678px;
    }

    @include mixins.respond-to(desktopS) {
      width: 90%;
    }

    @include mixins.respond-to(desktopM) {
      width: 100%;
      max-width: 1268px;
    }

    &-slide {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      width: 216px !important;
      height: auto;

      border-radius: 16px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 71.01%);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

      padding: 45px 25px 25px 25px;

      @include mixins.respond-to(mobileOnly) {
        width: 230px !important;

        padding: 20px 25px 25px 25px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 123px !important;

        padding: 21px 14px;
      }

      &--new .catalogue-goods__slide-new {
        display: block;
      }
    }

    &-nav {
      position: absolute;
      bottom: 115px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: fit-content;
      user-select: none;
      pointer-events: none;

      z-index: 9;

      @include mixins.respond-to(mobileOnly) {
        display: none;
      }

      @include mixins.respond-to(tabletOnly) {
        bottom: 92px;
      }

      & .swiper-button-disabled {
        opacity: 0.3;

        transition: opacity 0.2s;
      }
    }

    &-pagination {
      display: none;

      @include mixins.respond-to(mobileOnly) {
        display: flex;
      }
    }
  }

  &__slide {
    &-new {
      position: absolute;
      top: -25px;
      right: -15px;

      display: none;

      width: 81px;
      height: 81px;

      @include mixins.respond-to(mobileOnly) {
        top: 5px;
        right: 5px;

        width: 40px;
        height: 40px;
      }

      @include mixins.respond-to(tabletOnly) {
        top: 5px;
        right: 5px;

        width: 50px;
        height: 50px;
      }
    }

    &-img {
      object-fit: cover;
      height: auto;

      margin: 0 0 20px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 27px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        max-width: 36px;

        margin: 0 0 17px 0;
      }
    }

    &-title {
      color: #000;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      margin: 0 0 20px 0;

      @include mixins.respond-to(mobileOnly) {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      @include mixins.respond-to(tabletOnly) {
        color: #000;
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin: 0 0 9px 0;
      }
    }

    &-link {
      color: #777;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: underline;

      transition: color 0.2s, transform 0.2s;

      &:hover {
        color: #3D7829;

        transform: scale(1.1);
        transition: color 0.2s, transform 0.2s;
      }

      @include mixins.respond-to(tabletOnly) {
        color: #777;
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
      }
    }
  }

  &__nav {
    &-arrow {
      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 1;
      user-select: all;
      pointer-events: all;

      transition: opacity 0.2s;

      &:hover {
        & svg {
          filter: brightness(0) saturate(100%) invert(37%) sepia(24%) saturate(1196%) hue-rotate(60deg) brightness(98%) contrast(88%);
        }
      }

      &-icon {
        @include mixins.respond-to(tabletOnly) {
          width: 10px;
          height: 20px;
        }
      }
    }
  }

  &__link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0 auto;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: none !important;

      font-size: 14px !important;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 9px !important;

      padding: 5px 33px !important;
    }
  }
}