@use "../mixins";

.featured {
  background: linear-gradient(180deg, #D3D4D5 0%, #D5D6D8 100%);

  margin: 100px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    height: 1px;
    min-height: 519px;

    margin: 64px 0 0 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 58px 0 0 0;
  }

  @include mixins.respond-to(desktopD) {
    height: 1px;
    min-height: 280px;
  }

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 6px;

      padding: 31px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      align-items: stretch;
      justify-content: flex-start;

      width: 100%;

      padding: 0 0 0 66px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;

    @include mixins.respond-to(mobileOnly) {
      order: 1;
      gap: 7px;
    }

    @include mixins.respond-to(tabletOnly) {
      gap: 11px;

      max-width: 230px;
    }

    &-title {
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mixins.respond-to(mobileOnly) {
        font-family: var(--font-family-second);
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      @include mixins.respond-to(tabletOnly) {
        font-family: var(--font-family-second);
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    &-text {
      font-family: var(--font-family-second);
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;

      @include mixins.respond-to(mobileOnly) {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      @include mixins.respond-to(tabletOnly) {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1511px) {
    &__column {
      max-width: 35%;
    }
  }

  @media (min-width: 1512px) {
    &__column {
      max-width: 550px;
    }
  }

  // &__image {
  //   position: relative;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   overflow: hidden;

  //   @include mixins.respond-to(mobileOnly) {
  //     left: -5%;

  //     order: 2;

  //     width: 110%;

  //     margin: 0 auto;
  //   }
  // }

  // &__img {
  //   @include mixins.respond-to(tabletOnly) {
  //     width: 100%;
  //     max-width: 345px;
  //     height: 100%;
  //   }
  // }

  &__link {
    position: absolute;
    left: 50%;
    bottom: 30px;

    flex-shrink: 0;

    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transform: translateX(-50%);

    @include mixins.respond-to(mobileOnly) {
      position: relative;
      left: auto;
      bottom: auto;

      display: inline-block;

      align-self: center;
      order: 3;

      max-width: none !important;

      font-size: 12px !important;

      padding: 10px 85px !important;
      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      bottom: 20px;

      display: inline-block;

      max-width: none !important;

      font-size: 9px !important;

      padding: 5px 34px !important;
      margin: 0;
    }
  }

  &__new-icon {
    position: absolute;
    top: 40px;
    right: 0;

    @include mixins.respond-to(mobileOnly) {
      top: 15px;
      right: 73px;

      width: 81px;
      height: 81px;
    }

    @include mixins.respond-to(tabletOnly) {
      top: 15px;
      right: 25px;

      width: 76px;
      height: 76px;
    }
  }
}