@use "../mixins";

.index-catalogue {
  margin: 80px 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 63px 0 0 0;
  }

  @include mixins.respond-to(tabletOnly) {
    margin: 84px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 71px;

    @include mixins.respond-to(mobileOnly) {
      gap: 24px;
    }

    @include mixins.respond-to(tabletOnly) {
      gap: 53px;
    }
  }

  &__slider {
    width: 100%;
    max-width: 100%;

    &-wrapper {
      @include mixins.respond-to(tabletOnly) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }

      @include mixins.respond-to(desktopS) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 68px 60px;
      }
    }

    &-slide {
      display: flex;
      flex-direction: column;
      gap: 28px;

      width: 220px;

      @include mixins.respond-to(mobileOnly) {
        width: 155px;
        gap: 20px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 208px;
        gap: 15px;
      }
    }

    &-pagination {
      display: none;

      @include mixins.respond-to(mobileOnly) {
        position: relative !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;

        display: block !important;

        height: 10px !important;
        border-radius: 34px !important;
        background: #F6F6F6 !important;

        margin: 25px 0 0 0 !important;

        & .swiper-pagination-progressbar-fill {
          height: 10px !important;
          border-radius: 34px !important;
          background: #E6E6E6 !important;
        }
      }
    }
  }

  &__slide {
    &-top {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      background: url('../img/image/catalogue-item-bg.jpg');
      background-size: 220px 150px;
      background-position: center;
      background-repeat: no-repeat;

      @include mixins.respond-to(mobileOnly) {
        background-size: 150px 100px;
        background-position: top;
      }
    }

    &-img {
      max-width: 154px;
      height: auto;
      max-height: 210px;
      object-fit: cover;

      @include mixins.respond-to(mobileOnly) {
        max-width: 100px;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      text-align: center;

      @include mixins.respond-to(mobileOnly) {
        gap: 10px;
      }

      @include mixins.respond-to(tabletOnly) {
        gap: 11px;
      }
    }

    &-title {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include mixins.respond-to(mobileOnly) {
        font-size: 14px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 13px;
      }
    }

    &-text {
      color: #000;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mixins.respond-to(mobileOnly) {
        font-size: 11px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 11px;
      }
    }

    &-link {
      color: #777;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;

      transition: color 0.2s, transform 0.2s;

      @include mixins.respond-to(mobileOnly) {
        color: #777;
        text-align: center;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
      }

      &:hover {
        color: #3D7829;

        transform: scale(1.1);
        transition: color 0.2s, transform 0.2s;
      }
    }
  }

  &__link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mixins.respond-to(mobileOnly) {
      max-width: none !important;

      font-size: 12px !important;

      padding: 8px 85px !important;
    }

    @include mixins.respond-to(tabletOnly) {
      max-width: none !important;

      font-size: 9px !important;

      padding: 5px 33px !important;
    }
  }
}