@use "../mixins";

@keyframes burger_before_default {
  from {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg)
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  to {
    top: 8px;
    left: 50%;
    transform: translateX(-50%)
  }
}

@keyframes burger_before {
  from {
    top: 8px;
    left: 50%;
    transform: translateX(-50%)
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg)
  }
}

@keyframes burger_after_default {
  from {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg)
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  to {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%)
  }
}

@keyframes burger_after {
  from {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%)
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  100% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg)
  }
}

.main-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  width: 100%;
  height: 100%;

  & #catalogue_item {

    @include mixins.respond-to(notDesktop) {
      position: relative;
    }

    & .main-nav__mobile-menu-link {
      position: relative;

      width: fit-content !important;

      user-select: none;

      padding: 0 15px 0 0;

      @include mixins.respond-to(notDesktop) {
        padding: 10px 15px 10px 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 60%;
        right: 0;

        width: 4px;
        height: 8px;

        background: url("../img/image/catalogue-arrow.svg");
        background-repeat: no-repeat;
        background-size: 4px 8px;

        transform: translateY(-50%);
        transition: transform 0.3s;

        @include mixins.respond-to(notDesktop) {
          top: 55%;
        }
      }
    }
  }

  @media (min-width: 1025px) {
    & #catalogue_item {
      &:hover {
        & .main-nav__catalogue {
          transform: translateY(0);
          transition: transform 0.6s;
        }

        & .main-nav__mobile-menu-link::after {
          transform: translateY(-50%) rotate(90deg);
          transition: transform 0.3s;
        }
      }
    }
  }

  &__catalogue {
    position: absolute;
    top: 0;
    left: 0;

    flex-shrink: 0;

    background-color: var(--color-white);

    transform: translateY(-101%);
    transition: transform 0.6s;

    z-index: -1;

    @include mixins.respond-to(notDesktop) {
      top: 50px;
      left: -20px;

      overflow: auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: contain;

      transform: translateX(-100%);
      transition: transform 0.6s;

      z-index: 10;

      &--active {
        transform: translateX(0);
        transition: transform 0.6s;
      }
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 100px;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;

        width: 100%;
        padding: 0 20px 20px 20px;
      }
    }

    &-partial {
      position: relative;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;

      &-caption {
        display: inline-block;

        color: #3D7829;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        margin: 0 0 23px 0;

        @include mixins.respond-to(notDesktop) {
          display: none;
        }
      }

      &-link {
        display: inline-block;

        user-select: none;

        color: #6A6A6A;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        transition: color 0.2s, transform 0.2s;

        @include mixins.respond-to(notDesktop) {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &:hover {
          color: #3D7829;

          transform: scale(1.1);
          transition: color 0.2s, transform 0.2s;
        }
      }
    }
  }

  &__catalogue,
  .main-nav__catalogue-container {
    height: 415px;

    @include mixins.respond-to(notDesktop) {
      height: fit-content;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;

    height: fit-content;
    // border-bottom: 1px solid black;
    user-select: none;
    pointer-events: none;

    padding: 0 0 16px 9px;

    @include mixins.respond-to(notDesktop) {
      position: relative;

      justify-content: space-between;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 94%;

      padding: 0 0 16px 0;
    }

    @include mixins.respond-to(desktopS) {
      z-index: 11;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: all;
    pointer-events: all;

    transition: transform 0.2s;

    z-index: 20;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }

    @include mixins.respond-to(notDesktop) {
      z-index: 5;
    }
  }

  &__logo-icon {
    @include mixins.respond-to(mobileOnly) {
      width: 88px;
      height: 24px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 99px;
      height: 17px;
    }
  }

  &__mobile-menu {
    z-index: 11;

    @include mixins.respond-to(notDesktop) {
      position: fixed;
      top: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 70%;
      height: -webkit-fill-available;
      background-color: var(--color-white);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: contain;

      transform: translateX(100%);
      transition: transform 0.6s;

      padding: 25px 20px;

      &--active {
        transform: translateX(0);
        transition: transform 0.6s;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      z-index: 10;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;

        width: 100%;
      }
    }

    &-item {
      user-select: all;
      pointer-events: all;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
      }
    }

    &-link {
      display: inline-block;

      user-select: all;
      pointer-events: all;

      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      transition: color 0.2s;

      z-index: 10;

      &:hover {
        color: #3D7829;

        transition: color 0.2s;
      }

      @include mixins.respond-to(notDesktop) {
        display: flex;

        width: 100%;

        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding: 10px 0;
      }
    }
  }

  &__burger {
    display: none;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: all;
    pointer-events: all;

    z-index: 15;

    @include mixins.respond-to(notDesktop) {
      display: flex;
    }
  }

  &__burger-line {
    position: relative;

    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 5px;

    transition: background-color 0.1s;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      border-radius: 5px;

      animation-duration: 0.4s;
      animation-name: burger_before_default;
      animation-fill-mode: forwards;

      transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      border-radius: 5px;

      animation-duration: 0.4s;
      animation-name: burger_after_default;
      animation-fill-mode: forwards;

      transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
  }

  &__burger--active .main-nav__burger-line::before {
    animation-duration: 0.4s;
    animation-name: burger_before;
    animation-fill-mode: forwards
  }

  &__burger--active .main-nav__burger-line::after {
    animation-duration: 0.4s;
    animation-name: burger_after;
    animation-fill-mode: forwards;

    transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__burger--active .main-nav__burger-line {
    background-color: transparent;

    transition-delay: 0.4s;
    transition: background-color 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__fake-border {
    position: absolute;
    bottom: -7px;
    left: 50%;

    display: block;

    width: 100%;
    max-width: 1336px;
    height: 1px;
    background-color: #351C1C;

    transform: translateX(-50%);

    z-index: 5;
  }
}

.catalogue-link-active {
  &::after {
    transform: translateY(-50%) rotate(90deg) !important;
    transition: transform 0.3s !important;
  }
}