@use "../mixins";

.page-title {
  display: flex;

  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  @include mixins.respond-to(mobileOnly) {
    font-family: var(--font-family-second);
    font-size: 23px;
  }

  @include mixins.respond-to(tabletOnly) {
    font-size: 20px;
    font-weight: 500;
  }
}