@use "../mixins";

.page-footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  background-color: var(--color-black);

  padding: 31px 0 46px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 26px 0 35px 0;
  }
}