@use "../mixins";

.single-goods {
  &__heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 27px;

    margin: 40px 0 54px 0;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      gap: 37px;

      margin: 40px 0 50px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      gap: 30px;

      margin: 25px 0 40px 0;
    }

    &-sliders {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;
        gap: 13px;

        width: 100%;
      }

      &-wrapper {
        position: relative;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }
      }
    }

    &-slider {
      background: url('../img/image/single-goods-slider-background.png');
      background-size: cover;
      background-repeat: no-repeat;

      width: 524px;
      height: 551px;

      @include mixins.respond-to(mobileOnly) {
        width: 100%;
        height: 355px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 312px;
        height: 328px;
      }

      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        &-link {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-img {
          @include mixins.respond-to(mobileOnly) {
            width: 100%;
            max-width: 163px;
            height: auto;
            max-height: 227px;
            object-fit: cover;
          }
        }
      }

      &-nav {
        position: absolute;
        top: 50%;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        user-select: none;
        pointer-events: none;

        transform: translateY(-50%);
        transition: opacity 0.2s;

        padding: 0 22px;

        z-index: 9;

        @include mixins.respond-to(mobileOnly) {}

        @include mixins.respond-to(tabletOnly) {
          padding: 0 12px;
        }

        &-button {
          user-select: all;
          pointer-events: all;
        }

        & .swiper-button-disabled {
          opacity: 0.2;

          transition: opacity 0.2s;
        }
      }

      &-thumb {
        width: 125px;
        height: 551px;

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
          height: 75px;
        }

        @include mixins.respond-to(tabletOnly) {
          width: 75px;
          height: 328px;
        }

        &-slide {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 125px;
          height: 125px;
          background: url('../img/image/single-goods-slider-background.png');

          @include mixins.respond-to(mobileOnly) {
            width: 75px;
            height: 75px;
          }

          @include mixins.respond-to(tabletOnly) {
            width: 75px;
            height: 75px;
          }

          &-image {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;
          }

          &-img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;

      &-tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;

        margin: 0 0 33px 0;

        @include mixins.respond-to(mobileOnly) {
          display: none;
        }

        @include mixins.respond-to(tabletOnly) {
          gap: 18px;

          margin: 0 0 20px 0;
        }

        &-item {
          position: relative;

          color: #898989;
          font-family: var(--font-family-second);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          padding: 0 0 0 13px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;

            width: 3px;
            height: 3px;
            background-color: #898989;
            border-radius: 50%;

            transform: translateY(-50%);
          }

          @include mixins.respond-to(mobileOnly) {}

          @include mixins.respond-to(tabletOnly) {
            font-size: 9px;

            padding: 0 0 0 6px;
          }
        }
      }

      &-title {
        color: #000;
        font-family: var(--font-family-second);
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

        margin: 0 0 36px 0;

        @include mixins.respond-to(mobileOnly) {
          font-size: 18px;

          margin: 0 0 21px 0;
        }

        @include mixins.respond-to(tabletOnly) {
          font-size: 20px;

          margin: 0 0 20px 0;
        }
      }

      &-text {
        display: inline-block;

        min-height: 288px;

        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 131.023%;

        margin: 0 0 36px 0;

        @include mixins.respond-to(mobileOnly) {
          font-size: 16px;

          margin: 0 0 30px 0;
        }

        @include mixins.respond-to(tabletOnly) {
          font-size: 11px;
        }
      }

      &-spread {
        width: 100%;

        margin: auto 0 0 0;

        &-item {
          position: relative;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          height: 49px;
          background-color: #FFF;
          border-top: 1px solid black;
          overflow: hidden;
          cursor: pointer;

          transition: height 0.3s;

          &:last-child {
            border-bottom: 1px solid black;
          }

          &--active {
            & .single-goods__heading-info-spread-item-icon {
              transform: scaleX(-1) rotate(-90deg) !important;
              transition: transform 0.3s;
            }
          }

          & .single-goods__heading-info-spread-item-icon {
            transform: scaleX(-1);
            transition: transform 0.3s;
          }

          // &::before {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;

          //   width: 100%;
          //   height: 1px;
          //   background-color: #898989;
          // }

          // &:last-child::after {
          //   content: "";
          //   position: absolute;
          //   bottom: 0;
          //   left: 0;

          //   width: 100%;
          //   height: 1px;
          //   background-color: #898989;
          // }

          &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            padding: 17px 5px 13px 0;

            @include mixins.respond-to(mobileOnly) {}

            // @include mixins.respond-to(tabletOnly) {
            //   padding: 10px 5px 7px 0;
            // }
          }

          &-name {
            color: #000;
            font-family: var(--font-family-second);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @include mixins.respond-to(tabletOnly) {
              font-size: 12px;
            }
          }

          &-content {
            display: inline-block;

            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 131.023%;

            transition: all 0.3s;

            transition: height 0.6s;

            padding: 0 0 13px 0;

            @include mixins.respond-to(mobileOnly) {
              font-size: 9px;
            }
          }
        }
      }
    }
  }

  &__description {
    margin: 0 0 100px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 39px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 40px 0;
    }

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 25px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 11px;

        margin: 0 0 10px 0;
      }
    }

    &-text {

      & h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

        @include mixins.respond-to(tabletOnly) {
          font-size: 11px;
        }

        @include mixins.respond-to(mobileOnly) {
          font-size: 16px;
        }
      }

      & p,
      span,
      li,
      a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 131%;

        transition: color 0.2s;

        padding: 0;
        margin: 0;

        @include mixins.respond-to(tabletOnly) {
          font-size: 11px;
        }

        @include mixins.respond-to(mobileOnly) {
          font-size: 16px;
        }
      }

      & a:hover {
        color: #3D7829;

        transition: color 0.2s;
      }

      & ul {
        padding: 0;
        margin: 0;
      }

      & img {
        object-fit: cover;

        padding: 0;
        margin: 0;

        @include mixins.respond-to(notDesktop) {
          max-width: 100%;
        }
      }

      & div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;

        @include mixins.respond-to(mobileOnly) {
          flex-direction: column;
        }
      }
    }
  }

  &__media {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      gap: 20px;
    }

    &-images {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 55px;

      padding: 0 0 50px 0;

      @include mixins.respond-to(mobileOnly) {
        justify-content: space-between;
        order: 2;
        gap: 19px;

        width: 100%;

        padding: 0;
      }

      @include mixins.respond-to(tabletOnly) {
        gap: 30px;

        padding: 0 0 30px 0;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mixins.respond-to(mobileOnly) {
        width: 49%;

        &:nth-child(3) {
          display: none;
        }
      }
    }

    &-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;

      width: 220px;
      height: auto;

      @include mixins.respond-to(mobileOnly) {
        gap: 12px;

        width: 100%;
      }

      @include mixins.respond-to(tabletOnly) {
        gap: 35px;

        width: 122px;
      }
    }

    &-img {
      @include mixins.respond-to(mobileOnly) {
        width: 100%;
        height: 120px;
        object-fit: cover;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 69px;
        height: 78px;
      }
    }

    &-caption {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 131%;

      @include mixins.respond-to(mobileOnly) {
        font-size: 12px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 9px;
      }
    }

    &-video-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      width: 436px;
      height: 342px;

      @include mixins.respond-to(mobileOnly) {
        width: 100%;
        height: auto;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 245px;
        height: 192px;
      }
    }

    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__reviews {
    margin: 100px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 77px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 40px 0 0 0;
    }

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 30px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;

        margin: 0 0 25px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 11px;

        margin: 0 0 15px 0;
      }
    }

    &-slider {
      width: 100%;

      &-container {
        position: relative;

        padding: 0 36px;

        @include mixins.respond-to(mobileOnly) {
          padding: 0 27px;
        }
      }

      &-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 36px;
        flex-shrink: 0;

        width: 486px !important;
        height: auto;
        min-height: 168px;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

        padding: 16px 25px 16px 20px;

        @include mixins.respond-to(mobileOnly) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px;

          width: 100% !important;
          box-shadow: none;

          padding: 0;
        }

        &-img-link {
          display: flex;
          align-items: center;
          justify-content: center;

          @include mixins.respond-to(mobileOnly) {
            width: 100%;
          }
        }

        &-img {
          border-radius: 5px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          object-fit: none;

          @include mixins.respond-to(mobileOnly) {
            flex-shrink: 1;

            width: 100%;
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          width: 290px;
          height: 100%;
          flex-shrink: 0;
          border-radius: 4px;
          background: #FFF;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

          padding: 20px 3px 25px 10px;

          @include mixins.respond-to(mobileOnly) {
            width: 100%;
            box-shadow: none;
          }

          &-top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;

            margin: 0 0 7px 0;
          }

          &-name {
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          &-date {
            color: #9A9A9A;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        &-stars {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1px;

          margin: 0 0 9px 0;
        }

        &-text {
          display: inline-block;

          color: #000;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.18px;

          margin: 0 0 10px 0;

          &--hidden {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
          }
        }

        &-button {
          color: #777;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;

          transition: color 0.2s;

          margin: auto 0 0 0;

          &:hover {
            color: #3D7829;

            transition: color 0.2s;
          }

          &--hidden {
            display: none;
          }
        }
      }

      &-nav {
        position: absolute;
        top: 50%;
        left: 0;

        display: flex;
        align-content: center;
        justify-content: space-between;

        width: 100%;
        height: fit-content;
        user-select: none;
        pointer-events: none;

        transform: translateY(-50%);

        & .swiper-button-disabled {
          opacity: 0.2;

          transition: opacity 0.2s;
        }
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        user-select: all;
        pointer-events: all;

        & svg {
          @include mixins.respond-to(mobileOnly) {
            width: 13px;
            height: 26px;
          }
        }
      }
    }
  }

  &__places {
    margin: 100px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 73px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 40px 0 0 0;
    }

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 30px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;

        margin: 0 0 25px 0;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 11px;

        margin: 0 0 16px 0;
      }
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 21px;

      @include mixins.respond-to(mobileOnly) {
        justify-content: center;
        gap: 10px;
      }

      @include mixins.respond-to(tabletOnly) {
        justify-content: center;
        gap: 12px;
      }
    }

    &-image {
      flex-shrink: 0;

      width: 233px;
      height: 111px;

      @include mixins.respond-to(mobileOnly) {
        width: 107px;
        height: 50px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 131px;
        height: 62px;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__comp {
    margin: 100px 0 150px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 73px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 40px 0 56px 0;
    }

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 30px 0;

      @include mixins.respond-to(mobileOnly) {
        font-size: 16px;
      }

      @include mixins.respond-to(tabletOnly) {
        font-size: 11px;

        margin: 0 0 16px 0;
      }
    }

    &-slider {
      width: 100%;

      padding: 5px;

      @include mixins.respond-to(mobileOnly) {
        & .swiper-slide {
          transform: scale(0.8);
          transform-origin: center;
          transition: transform 0.4s;
        }

        & .swiper-slide-active {
          transform: scale(1);
          transform-origin: center;
          transition: transform 0.4s;
        }
      }

      &-container {
        position: relative;
      }

      &-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 216px;
        height: auto;
        min-height: 311px;
        border-radius: 16px;
        background: #FCFCFC;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29);

        padding: 20px 30px;

        @include mixins.respond-to(mobileOnly) {}

        @include mixins.respond-to(tabletOnly) {
          width: 153px;
          min-height: 221px;

          padding: 12px 17px;
        }

        &-img {
          max-width: 80px;
          height: auto;
          max-height: 166px;
          object-fit: cover;

          margin: 0 0 26px 0;

          @include mixins.respond-to(mobileOnly) {
            max-width: 70px;
            height: auto;
            max-height: 180px;

            margin: 0 0 24px 0;
          }

          @include mixins.respond-to(tabletOnly) {
            max-width: 56px;
            height: auto;
            max-height: 118px;

            margin: 0 0 18px 0;
          }
        }

        &-title {
          display: inline-block;

          color: #000;
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          margin: 0 0 18px 0;

          @include mixins.respond-to(mobileOnly) {
            font-size: 14px;
          }

          @include mixins.respond-to(tabletOnly) {
            font-size: 9px;

            margin: 0 0 14px 0;
          }
        }

        &-link {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 148px;
          height: 25px;
          border-radius: 4px;
          border: 1px solid #000;

          color: #000;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          transition: background 0.2s, box-shadow 0.2s, color 0.2s;

          padding: 5px 40px;

          &:hover {
            background: #3D7829;
            border: 1px solid #3D7829;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.46) inset;

            color: #FFF;

            transition: background 0.2s, box-shadow 0.2s, color 0.2s;
          }

          @include mixins.respond-to(mobileOnly) {}

          @include mixins.respond-to(tabletOnly) {
            width: 105px;
            height: 18px;

            color: #000;
            font-size: 9px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

        }
      }

      // &-nav {
      //   position: absolute;
      //   bottom: 115px;

      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;

      //   width: 100%;
      //   height: fit-content;
      //   user-select: none;
      //   pointer-events: none;

      //   z-index: 10;

      //   @include mixins.respond-to(mobileOnly) {
      //     display: none;
      //   }

      //   @include mixins.respond-to(tabletOnly) {
      //     bottom: 92px;
      //   }

      //   & .swiper-button-disabled {
      //     opacity: 0.3;

      //     transition: opacity 0.2s;
      //   }
      // }
    }
  }
}