@use "../mixins";

.single-goods {
  &__heading {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 27px;

    margin: 40px 0 54px 0;

    &-sliders {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      &-wrapper {
        position: relative;
      }
    }

    &-slider {
      background: url('../img/image/single-goods-slider-background.png');
      background-size: cover;
      background-repeat: no-repeat;

      width: 524px;
      height: 551px;

      &-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-nav {
        position: absolute;
        top: 50%;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        user-select: none;
        pointer-events: none;

        transform: translateY(-50%);
        transition: opacity 0.2s;

        padding: 0 22px;

        z-index: 10;

        @include mixins.respond-to(mobileOnly) {}

        @include mixins.respond-to(tabletOnly) {
          padding: 0 12px;
        }

        &-button {
          user-select: all;
          pointer-events: all;
        }

        & .swiper-button-disabled {
          opacity: 0.2;

          transition: opacity 0.2s;
        }
      }

      &-thumb {
        width: 125px;
        height: 551px;

        &-slide {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 125px;
          height: 125px;
          background: url('../img/image/single-goods-slider-background.png');

          &-image {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;
          }

          &-img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &-tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;

        margin: 0 0 33px 0;

        &-item {
          position: relative;

          color: #898989;
          font-family: 'Source Sans 3', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          padding: 0 0 0 13px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;

            width: 3px;
            height: 3px;
            background-color: #898989;
            border-radius: 50%;

            transform: translateY(-50%);
          }
        }
      }

      &-title {
        color: #000;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

        margin: 0 0 36px 0;
      }

      &-text {
        display: inline-block;

        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 131.023%;

        margin: 0 0 36px 0;
      }

      &-spread {
        width: 100%;

        margin: auto 0 0 0;

        &-item {
          position: relative;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          background-color: #FFF;

          cursor: pointer;

          &--active {
            & .single-goods__heading-info-spread-item-content {
              display: block;
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1px;
            background-color: #898989;
          }

          &:last-child::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 1px;
            background-color: #898989;
          }

          &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            padding: 17px 0 13px 0;
          }

          &-content {
            display: none;

            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 131.023%;

            padding: 0 0 13px 0;
          }
        }
      }
    }
  }

  &__description {

    margin: 0 0 100px 0;

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 25px 0;
    }

    &-text {

      & h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

        @include mixins.respond-to(tabletOnly) {
          font-size: 11px;
        }

        @include mixins.respond-to(mobileOnly) {
          font-size: 16px;
        }
      }

      & p,
      span,
      li,
      a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 131%;

        transition: color 0.2s;

        padding: 0;
        margin: 0;

        @include mixins.respond-to(tabletOnly) {
          font-size: 11px;
        }

        @include mixins.respond-to(mobileOnly) {
          font-size: 16px;
        }
      }

      & a:hover {
        color: #3D7829;

        transition: color 0.2s;
      }

      & ul {
        padding: 0;
        margin: 0;
      }

      & img {
        object-fit: cover;

        padding: 0;
        margin: 0;

        @include mixins.respond-to(notDesktop) {
          max-width: 100%;
        }
      }

      & div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;

        @include mixins.respond-to(mobileOnly) {
          flex-direction: column;
        }
      }
    }
  }

  &__media {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &-images {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 55px;

      padding: 0 0 50px 0;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;

      width: 220px;
      height: auto;
    }

    &-caption {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 131%;
    }

    &-video {

      &-container {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          & .single-goods__media-video-play {
            filter: brightness(0) saturate(100%) invert(39%) sepia(26%) saturate(1024%) hue-rotate(60deg) brightness(94%) contrast(93%);

            transition: filter 0.2s;
          }
        }
      }

      &-circle {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 89px;
        height: 89px;
        stroke-width: 1px;
        stroke: #FFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(16.5px);
        border-radius: 50%;

        transform: translate(-50%, -50%);

        padding: 26px 24px 26px 31px;
      }

      &-play {
        width: 34px;
        height: 37px;

        transition: filter 0.2s;

        @include mixins.respond-to(mobileOnly) {}

        @include mixins.respond-to(tabletOnly) {}
      }

    }
  }

  &__reviews {
    margin: 100px 0 0 0;

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 30px 0;
    }

    &-slider {
      width: 100%;

      &-container {
        position: relative;

        padding: 0 36px;
      }

      &-slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;

        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

        padding: 20px 20px 20px 15px;

        &-top {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &-text {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 131%;

          &--hidden {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }

        &-button {
          color: #777;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;
        }
      }

      &-nav {
        position: absolute;
        top: 50%;
        left: 0;

        display: flex;
        align-content: center;
        justify-content: space-between;

        width: 100%;
        height: fit-content;
        user-select: none;
        pointer-events: none;

        transform: translateY(-50%);
      }
    }
  }

  &__places {

    margin: 100px 0 0 0;

    &-title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;

      margin: 0 0 30px 0;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 21px;
    }

    &-image {
      width: 233px;
      height: 111px;
    }

    &-img {
      width: 100%;
    }
  }
}